@import url('https://fonts.googleapis.com/css?family=Poppins:400|Poppins:400');

:root {
  /* COLORS */
  /* Palette based on https://www.happyhues.co/palettes/16 */
  --primary: #e78fb3;
  --primaryLight: #f0b8cf;
  --primaryDark: #de6496;
  --secondary: #ffc0ad;
  --secondaryLight: #ffe7e0;
  --secondaryDark: #ff997a;
  --tertiary: #9656a1;
  --brown: #55423d;
  --darkBrown: #271c19;
  --black: #140d0b;
  --white: #fffffe;
  --lightGray: #bababa;

  --bgColor: var(--brown);
  --linkColor: var(--primary);
  --linkHoverColor: var(--primaryLight);
  --linkActiveColor: var(--primaryDark);
  --textColor: var(--white);

  /* Text */
  --heading1: 4.209rem;
  --heading2: 3.157rem;
  --heading3: 2.369rem;
  --heading4: 1.777rem;
  --heading5: 1.333rem;
  --heading6: 0.75rem;
  --smallText: 0.75rem;
  --bodyText: 1rem;

  --headingFont: 'Poppins', sans-serif;
  --bodyFont: 'Poppins', sans-serif;

  /* Elevation */
  --elevation0: inset 0 7px 9 -7px rgba(0, 0, 0, 0.7);
  --elevation1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --elevation2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --elevation3: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  --elevation4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --elevation5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 18px;
}

body {
  font-family: var(--bodyFont);
  background: var(--bgColor);
  color: var(--textColor);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.6;
}

h1 {
  font-size: var(--heading1);
}
h2 {
  font-size: var(--heading2);
}
h3 {
  font-size: var(--heading3);
}
h4 {
  font-size: var(--heading4);
}
h5 {
  font-size: var(--heading5);
}
h6 {
  font-size: var(--heading6);
}

ul {
  list-style: none;
}

a {
  color: var(--linkColor);
}

a:hover {
  color: var(--linkHoverColor);
}

a:active {
  color: var(--linkActiveColor);
}

.textPrimary {
  color: var(--primary);
}

.container {
  max-width: 960px;
  margin: auto;
}
